ul {
  list-style-type: none;
}

.original {
  background-color: wheat; 
  line-height: 30px;
}

.dark {
  background-color: darkslategray;
  color: white;
  line-height: 30px;
}

.light {
  background-color: white;
  color: black;
  line-height: 30px;
}

p {
  font-size: 15px;
}

h2, h1 {
  font-style: italic;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
